.App {
	display: flex;
	justify-content: center;
	background-color: #f8f9e6;
}

.App-container {
	border: 5px solid rgb(212, 212, 223);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 35rem;
	background: #f8f9e6;
	background-color: #f8f9e6;
}

.instr {
	background-color: #f8f9e6;
}

.body-form {
	background: #f8f9e6;
}
.App-header {
	background: #001133;
	min-height: 5vh;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #61dafb;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
